[Unit]
Description=GPIO pins LED PWM controller
Before=shutdown.target
After=local-fs.target network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
Type=forking
User=dgpio
TimeoutSec=5min
LimitCORE=infinity
ExecStart=/usr/local/bin/dgpio -f /var/run/dgpio/dgpio -d /var/log/dgpio/dgpio.stats -l /var/log/dgpio/dgpio.log --disable dimmer
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
